[project]
	description = TestApp1
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Raghavendra Reddy (bijjula)
[access "refs/for/refs/*"]
	read = group user/Raghavendra Reddy (bijjula)
	push = group user/Raghavendra Reddy (bijjula)
	label-Code-Review = -2..+2 group user/Raghavendra Reddy (bijjula)
	label-Verified = -1..+1 group user/Raghavendra Reddy (bijjula)
	rebase = group user/Raghavendra Reddy (bijjula)
	removeReviewer = group user/Raghavendra Reddy (bijjula)
	submit = group user/Raghavendra Reddy (bijjula)
[access "refs/heads/*"]
	read = group user/Raghavendra Reddy (bijjula)
	create = group user/Raghavendra Reddy (bijjula)
	push = +force group user/Raghavendra Reddy (bijjula)
	pushMerge = group user/Raghavendra Reddy (bijjula)
[access "refs/tags/*"]
	push = group user/Raghavendra Reddy (bijjula)
	push = +force group user/Raghavendra Reddy (bijjula)
